VITE_APP_ID=
JWT_SECRET=
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=

SUPABASE_PROJECT_ID=hmfshljqjrsnonrbkira
SUPABASE_URL=https://hmfshljqjrsnonrbkira.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
