BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=

SUPABASE_PROJECT_ID=hmfshljqjrsnonrbkira
SUPABASE_URL=https://hmfshljqjrsnonrbkira.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_URL=https://hmfshljqjrsnonrbkira.supabase.co
VITE_SUPABASE_ANON_KEY=
